body {
    font-family: 'Lora', serif; /* Семейство шрифтов */
    font-size: 20pt; /* Размер основного шрифта в пунктах  */
    background-color: #cbf1d991; /* Цвет фона веб-страницы */
    color: #000000; /* Цвет основного текста */ 
  }

h1 {
    text-decoration:underline;
    text-decoration-color:darkgreen;
}

h2 {
 color:darkgreen;
 text-decoration: underline;
 text-decoration-style:dashed;
}

.nav-link {
    color: rgb(20, 220, 20);
}

img {
    vertical-align: middle;
}

