body {
    font-style: italic;
    font-family: Times, Times New Roman, serif; /* Семейство шрифтов */
    font-size: 24pt; /* Размер основного шрифта в пунктах  */
    background-color: #FFFFFF; /* Цвет фона веб-страницы */
    color: #000000; /* Цвет основного текста */ 
  }
    p {
    text-align: justify; /* Выравнивание по ширине */
  
  }
  
  